{% extends 'base.html.twig' %}

{% block title %}Ceci est une page bugguée !{% endblock %}
{% block body %}
    {# Un lien vers l'exercice 5 et son application #}
    <a href="{{ '/batle' }}">Les voir en action !</a>
    {# On lance un dé et on explique à l'utilisateur la chance qu'il a ! #}
    {% set roll = diceThrower.bestResult(diceThrower.rollDices(2, 6)) %}
    {% if roll >= 2 %}
        Vous avez fait un super lancé ! Félicitations !
    {% else %}
        Pas de chance... Vous avez fait {{ roll }}
    {% endif %}
    <table>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Force</th>
            <th>Défense</th>
            <th>Points de vie</th>
            <th>Description</th>
        </tr>
        {# On affiche une ligne par personnage #}
        {% for character in characters %}
            <tr>
                <td>
                    {{ character.id }}
                </td>
                <td>
                    {{ character.name }}
                </td>
                <td>
                    {{ character.strength }}
                </td>
                <td>
                    {{ character.defense }}
                </td>
                <td>
                    {{ character.healthPoint }}
                </td>
                <td>
                    {# afficher des sauts de ligne dans la description #}
                    {{ character.description | nl2br }}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
