{% extends 'base.html.twig' %}

{% block title %}Ceci est une page bugguée !{% endblock %}

{% block body %}
    {# Un lien vers l'exercice 5 et son application #}
    <a href="{{ '/batle' }}">Les voir en action !</a>
    {# On lance un dé et on explique à l'utilisateur la chance qu'il a ! #}
    {% set roll = bestResult(diceThrower.roll(2, 6)) %}
    {% if roll >= 2 %}
        Vous avez fait un super lancé ! Félicitations !
    {% else %}
        Pas de chance... Vous avez fait {% roll %}
    {% endif %}
    <table>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Force</th>
            <th>Défense</th>
            <th>Points de vie</th>
            <th>Description</th>
        </tr>
        {# On affiche une ligne par personnage #}
        {% for characters in character %}
            <tr>
                <td>
                    {{ characters.id }}
                </td>
                <td>
                    {{ characters.name }}
                </td>
                <td>
                    {{ characters.strength }}
                </td>
                <td>
                    {{ characters.defense }}
                </td>
                <td>
                    {{ characters.healhtPonit }}
                </td>
                <td>
                    {# afficher des sauts de ligne dans la description #}
                    {{ nl2br(characters.description) }}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
