{% extends 'layout.html.twig' %}

    {% block header %}
        <h1>{{ 'LisTe des articLes' | capitalize }}</h1>
    {% endblock header %}

{% block content %}

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Created At</th>
            <th>Tags</th>
            <th>Comment number</th>
        </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            {% if post.published == true %}
        <tr>
            <td>{{ post.id }}</td>
            <td>
                <a href="#">{{ post.title }}</a>
            </td>
            <td>{{ post.createdAt | date('d/m/Y H:i') }}</td>
            <td>
                {% for tag in post.tags %}
                    <p>{{ tag.name }}</p>
                {% endfor %}
            </td>
            <td>{{ post.comments | length }}</td>
        </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path("blog_new") }}"><button>Ajouter un nouveau Post</button></a>

{% endblock content %}

    {% block footer %} {% endblock footer %}
