{% extends 'base.html.twig' %}

{% block title %}
    Gimli et Legolas s'entrainent !
{% endblock %}

{% block body %}
    <div class="container">
        <h2>Entrainement du {{ 'now'|date('d/m/Y à H:i:s') }}</h2>
        <p>
            Le combat démarre !
        </p>
        <ol>
            {% for run in runs %}
                <li>
                    <h3>Tour {{ (loop.index / 2)|round(0, 'floor' ) }}</h3>
                    {{ run.attacker }} attaque {{ run.defender }} !<br />
                    {% if run.damage > 0 %}
                        {{ run.attacker }} inflige {{ run.damage }} dégâts à {{ run.defender }} !
                    {% else %}
                        {{ run.attacker }} a raté son attaque !
                    {% endif %}
                    {% if run.attackerWins %}
                        <br />{{ run.attacker }} a gagné !
                    {% endif %}
                </li>
            {% endfor %}
        </ol>
    </div>
{% endblock %}
